<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">WebsCrackers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">

    <ul *ngIf="status" class="navbar-nav mr-auto">
      <li  class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
          Quiz
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/quiz">Create Quiz</a>
              <a class="dropdown-item" routerLink="/quiz">Create Question</a>
              <a class="dropdown-item" routerLink="/quiz">Post Blog</a>
              <a class="dropdown-item" routerLink="/quiz">Online Test</a>
          </div>
      </li>
      <li class="nav-item right">
        <a class="nav-link" (click)="logout()" href="#">Logoff</a>
      </li>
    </ul>

    <ul *ngIf="!status" class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <!-- <li  class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle"  href="#"  id="navbarDropdown"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
          Actions
          </a>
          <div  class="dropdown-menu"  aria-labelledby="navbarDropdown">
          <a  class="dropdown-item" [routerLink]="'/accounts'"> Accounts </a>
          <a  class="dropdown-item" [routerLink]="'/create-account'"> Create Account </a>
          <div  class="dropdown-divider"></div>
          <a  class="dropdown-item" [routerLink]="'/contacts'"> Contacts </a>
          <a  class="dropdown-item" [routerLink]="'/create-contact'"> Create Contact </a>
          <div  class="dropdown-divider"></div>
          <a  class="dropdown-item" [routerLink]="'/leads'"> Leads </a>
          <a  class="dropdown-item" [routerLink]="'/create-lead'"> Create Lead </a>
          <div  class="dropdown-divider"></div>
          <a  class="dropdown-item" [routerLink]="'/opportunities'"> Opportunities </a>
          <a  class="dropdown-item" [routerLink]="'/create-opportunity'"> Create Opportunity </a>
          </div>
          </li> -->
    </ul>
  </div>
</nav>
